Source: itcc
Section: science
Priority: optional
Maintainer: LI Daobing <lidaobing@gmail.com>
Build-Depends: debhelper (>= 5.0.37.2), cdbs (>= 0.4.43), python-all-dev (>= 2.3.5-11), python-support (>= 0.4), 
 lapack3-dev, libboost-python-dev, python-setuptools
Standards-Version: 3.7.2

Package: itcc
Architecture: any
Provides: ${python:Provides}
Depends: ${shlibs:Depends}, ${python:Depends}, python-scientific (>= 2.4.9-5),
 python-scipy(>= 0.3.2-9), python-setuptools
Description: collection of scripts for itcc
 for example: itcc confsearch
