#!/usr/bin/make -f

# to re-generate debian/control, invoke
# fakeroot debian/rules debian/control DEB_AUTO_UPDATE_DEBIAN_CONTROL:=yes
#
export DH_ALWAYS_EXCLUDE=.svn


DEB_PYTHON_SYSTEM = pysupport
VDEF := $(strip $(shell dpkg-parsechangelog | awk -F: '/^Version:/ {print $$NF}'))
VSVN := $(shell if which svnversion > /dev/null; then svnversion | sed s/^.*:// \
         | sed s/^/.r/ | sed s/.rexported// ; fi)
DEB_DH_GENCONTROL_ARGS = -u-v$(VDEF)$(VSVN)
DEB_PYTHON_INSTALL_ARGS_ALL += --single-version-externally-managed

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

# Install egg-info directories

clean::
	make clean
